@import 'reset';

html {
	height: 100%;
	box-sizing: border-box;
	background: #000;
}
*, *:before, *:after {
	box-sizing: inherit;
}

#container {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.logo {
	width: 100%;
	max-width: 130px;
	margin-bottom: 15px;
}

.content {
	max-width: 100%;
	width: 500px;
	position: absolute;
	z-index: 2;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	font-family: monospace;
	text-align: center;
	letter-spacing: 0.01em;
}
